<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% load static %}
<!--
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>-->
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
<div class="section"></div>
  <main>
    <center>
      <a href="{% url 'home' %}" style = "color: black;">
      <div class = "row">
        <!-- <img class="responsive-img" style="width: 100px;" src="https://static.wixstatic.com/media/408f3b_475b5a12cdc54a608377a6e926b974fa~mv2.jpeg" alt = "Our Book Tree"/> -->
        
        <img class="responsive-img" style="width: 100px;" src="{% static "OBTApp/images/logo.jpeg" %}" alt = "Our Book Tree">
        <h6>Our Book Tree</h6></a>
      </div>
        <h5 class="teal-text">Enter your login details</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post">
            {% csrf_token %}
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>
            
            <div class='row'>
              {% for field in form %}
              <div class='input-field col s12'>
                {{ field.label_tag }}
                {{ field }}
              </div>
              {% endfor %}
              <label style='float: right;'>
								<a class='teal-text' href="{% url 'password_reset' %}"><b>Forgot Password?</b></a>
							</label>
            </div>
            
              

            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect teal lighten-1'>Login</button>
              </div>
            </center>
          </form>
        </div>
      </div>
      <a href="{% url 'signup' %}">Don't have an account? Sign up!</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>
  {% endblock %}