{% extends 'base.html' %}

{% block title %}Give Books{% endblock %}

{% block content %}
<div class="row" style="padding:0%">
    <center><h2 style="color:teal">Give Form</h2></center>
    <div class="col s4 offset-s4">
      <div class="card">
        <div class="card-content">
<form method="POST">
{%csrf_token%}
<!-- {{ give_form.as_p }} -->
Email: <input type='text' name="email" value={{email}} disabled><br><br>

    {% if not grade %}
    Grade: <select class='dropdown-trigger btn' name="grade" id="grade" required onChange="form.submit();">
      <option value="" disabled selected hidden>Select Grade</option>
      {% else %}
      Grade: <select class='dropdown-trigger btn' name="grade" id="grade"  onChange="form.submit();">
      <option value="" disabled selected hidden>{{grade}}</option>
      {% endif %}
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
  </select><br><br>
  
  
  
   
      {% if not sub %}
      Subject: <select class='dropdown-trigger btn' required name="subject" id="subject" onChange="form.submit();">
      <option value="" disabled selected hidden>Select Subject</option>
      {% else %}
      Subject: <select class='dropdown-trigger btn' name="subject" id="subject" onChange="form.submit();">
      <option value="" selected hidden>{{sub}}</option>
      {% endif %}
      {% for i in sublist %}
      <option value="{{i.0}}">{{i.1}}</option>
      {% endfor %}
  
  </select><br><br>
  
    {% if not book %}
    Book Name: <select class='dropdown-trigger btn' name="bookname" id="bookname" required  onChange="form.submit();">
    <option value="" disabled selected hidden>Select Book</option>
    {% else %}
    Book Name: <select class='dropdown-trigger btn' name="bookname" id="bookname"  onChange="form.submit();">
    <option value="" disabled selected hidden>{{book}}</option>
      {% endif %}
      {% for i in bookchoices %}
          <option value="{{i.0}}">{{i.0}}</option>
      {% endfor %}
      <option value="Other">Other..</option>
  </select><br><br>
{% if otherflag %}
Please specify: <input type='text' name='booknameother' id='booknameother' required/><br><br>
{% endif %}
Quantity: <input type="number" name="quan" id="quan" required><br><br>
Year of Publishing: <input type='text' name='yearpub'  id='yearpub' data-length="4" pattern="[0-9]{4}" required/><br><br>
Condition: <select class='dropdown-trigger btn' name="condition" id="condition" required>
    <option value="" disabled selected hidden>Select Condition of book</option>
    <option value="1">Like new</option>
    <option value="2">Fair</option>
    <option value="3">Pages torn</option>
    <option value="4">Pages missing</option>
    <option value="5">Notes written</option>
</select><br><br>
<!-- {{ book_form.as_p }}
{{ give_order_form.as_p }} -->
    <!--<input type='submit' value='Submit'/>-->
    <center><button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button></center>
</form>
</div>
</div>
</div>
</div>
{% endblock %}