{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
{% if user.is_authenticated %}
<div class="col s12">
  <center><h3>Hi {{ user.username }}! What do you want to do?</h3></center>
  <br>
  <br>
  <div class="col s6">
  <a class="waves-effect waves-light btn col s4 offset-s8" href="..\give">Give Books</a>
</div>
<div class="col s6">
  <a class="waves-effect waves-light btn col s4" href ="..\take">Take Books</a>
  </div>
  </div>
</div>
{% else %}
<div class="container">
  <center><h3>You are not logged in</h3><br>
    <a class="waves-effect waves-light btn" href="{% url 'login' %}" >Login</a></center>
  <!--<a href="{% url 'login' %}">Log In</a>
  <a href="{% url 'signup' %}">Register</a>-->
</div>
{% endif %}


{% endblock %}