{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


{% if user.is_authenticated %}
<!--Style for the tabbed card-->
<style>        .tabs .tab a {
  color: rgba(38, 166, 154, 0.7);
  /*Custom Text Color*/
}

.tabs .tab a:hover {
  color:#26a69a;
  /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
  color:#26a69a;
  /*Custom Text Color While Active*/
  background-color: rgba(38, 166, 154, 0.2);
  /*Custom Background Color While Active*/
}

.tabs .indicator {
  background-color:#26a69a;
  /*Custom Color Of Indicator*/
}</style>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
  <div class="card-panel">
    <br><br>
    <h4 class="header center">Hi {{ user.username }}! What do you want to do?</h4>
    <div class="row center">
      <!--<a class="waves-effect waves-light btn col s4 offset-s8" href="..\give">Give Books</a>-->
      <br>
      <div class="col s6">
      <a class="waves-effect waves-light btn-large col s4 offset-s8" href="..\give">Give Books</a>
    </div>
    <div class="col s6">
      <a class="waves-effect waves-light btn-large col s4" href ="..\take">Take Books</a>
        
    </div>
      
      </div>
      <br><br>
    </div>
  </div>
    <br>

  </div>
  <div class="section no-pad-bot" id="stats">
  <div class="row">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Your Submissions</span>
          <!--<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>-->
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="teal-text" href="#given">Books Given</a></li>
            <li class="tab"><a class="teal-text" href="#taken">Books Taken</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="given">
            <table class="centered responsive-table">
              <thead>
                <tr>
                    <th>Grade</th>
                    <th>Subject</th>
                    <th>Book Name</th>
                    <th>Quantity</th>
                    <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {%for i in bksgiven%}
                <tr>
                  <td>{{i.0}}</td>
                  <td>{{i.1}}</td>
                  <td>{{i.2}}</td>
                  <td>{{i.3}}</td>
                  <td>{{i.4}}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
          <div id="taken">
            <form action="" method="POST">
          {%csrf_token%}
            <select class='dropdown-trigger btn' name='gradetake' id='gradetake' onChange="form.submit();">
              <option>All grades</option>
              <option>2</option>
            </select>
            <select class='dropdown-trigger btn' name='subtake' onChange="form.submit();">
              <option>choose subject</option>
              <option>M</option>
            </select>
            <select class='dropdown-trigger btn'>
              <option>choose bookname</option>
            </select>
            </form>
            <table class="centered responsive-table">
              <thead>
                <tr>
                    <th>Grade</th>
                    <th>Subject</th>
                    <th>Book Name</th>
                    <th>Quantity</th>
                    <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {%for i in bkstaken%}
                <tr>
                  <td>{{i.0}}</td>
                  <td>{{i.1}}</td>
                  <td>{{i.2}}</td>
                  <td>{{i.3}}</td>
                  <td>{{i.4}}</td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>

{% else %}
<!--div class="container">
  <center><h3>You are not logged in</h3><br>
    <a class="waves-effect waves-light btn" href="{% url 'login' %}" >Login</a></center>
  </div>-->
  <!--<a href="{% url 'login' %}">Log In</a>
  <a href="{% url 'signup' %}">Register</a>-->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text">Welcome to Our Book Tree</h1>
      <div class="row center">
        <h5 class="header col s12 light">A platform that connects Kumarans students, and facilitates the exchange of textbooks and reference books, all while contributing to a noble cause.</h5>
      </div>
      <div class="row center">
        <a href="{% url 'login' %}" id="download-button" class="btn-large waves-effect waves-light teal">Get Started</a>
      </div>
      
  
    </div>
  </div>
  
  
  <div class="container">
    <div class="section">
  
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">verified_user</i></h2>
            <h5 class="center">Register</h5>
  
            <p class="light">All our users are registered and verified users so you don't have to worry about imposters.</p>
          </div>
        </div>
  
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">book</i></h2>
            <h5 class="center">Exchange Books</h5>
  
            <p class="light">We find a suitable match for you based on your requirements and location. You exchange the books with your match in person or by Dunzo.</p>
          </div>
        </div>
  
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">Donate</h5>
  
            <p class="light">We have a voluntary donation drive because we believe that one act of good motivates another. Pass on the goodness and light up another child's life!</p>
          </div>
        </div>
      </div>
  
    </div>
    <br><br>
  </div>
{% endif %}
{% endblock %}