{% extends 'base.html' %}

{% block title %}Take Books{% endblock %}

{% block content %}
<form method="POST">
{%csrf_token%}
<!-- {{ give_form.as_p }} -->
Email: <input type='text' name="email" value={{email}} disabled><br><br>
Grade: <select name="grade" id="grade" required>
    <option value="Dummy" disabled selected hidden>Select Grade</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
</select><br><br>
<div id="myAnswers">

<div id="Dummy">
  Subject: <select name="subject" id="subject" required>
      <option value="" disabled selected hidden>Select Subject</option>
  </select><br><br>
</div>
<div id="A" style="display: none;">
  Subject: <select name="subject" id="subject" required>
    <option value="" disabled selected hidden>Select Subject</option>
    <option value="M">Maths</option>
    <option value="P">Physics</option>
    <option value="C">Chemsitry</option>
    <option value="CS">Computer Science</option>
    <option value="B">Biology</option>
    <option value="E">English</option>
    <option value="S">Sanskrit</option>
    <option value="SS">Social Studies</option>
    <option value="HI">Hindi</option>
    <option value="K">Kannada</option>
    <option value="F">French</option>
    <option value="G">German</option>
</select><br><br>
</div>
<div id="B" style="display: none;">
  Subject: <select name="subject" id="subject" required onChange="form.submit();">
      <option value="" disabled selected hidden>Select Subject</option>
      <option value="M">Maths</option>
      <option value="P">Physics</option>
      <option value="C">Chemsitry</option>
      <option value="CS">Computer Science</option>
      <option value="B">Biology</option>
      <option value="E">English</option>
      <option value="A">Accountancy</option>
      <option value="EC">Economics</option>
      <option value="BS">Business Studies</option>
      <option value="EN">Entrepreneurship</option>
      <option value="H">History</option>
      <option value="SO">Sociology</option>
      <option value="PS">Psychology</option>
  </select><br><br>
  </div>
</div>


Book Name: <select name="bookname" id="bookname" required>
    {% for i in bookchoices %}
        <option value="{{i}}">{{i}}</option>
    {% endfor %}
</select><br><br>
Quantity: <input type="number" name="quan" id="quan" required><br><br>
<!-- {{ book_form.as_p }}
{{ give_order_form.as_p }} -->
    <!--<input type='submit' value='Submit'/>-->
</form>
<script>
$("#grade").change(function(){
  $("#A,#B").hide();
  if(($(this).val() == "9") || ($(this).val() == "10")) {
    $("#A").show();
    $("#Dummy").hide();
  } else{
     $("#B").show();
     $("#Dummy").hide(); 
  }
});
</script>
{% endblock %}
